{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<section class="m-5">
  <div class="pb-3"> 
    <h3 class="p-3 bg-light">My Account</h3>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-1 px-2">
            <img src="{% if user.photo %}{{ user.photo.url }}{% else %}{% static 'user_default.png' %}{% endif %}" alt="users" class="border rounded-circle" height="100">
          </div>
          <div class="col-sm-10">
            <h3><span>{{ user.first_name }}</span><span> {{ user.last_name }}</span></h3>
            <div>{{ user.email }}</div>
          </div>
          <div class="col-sm-1 text-right">
            <a href="{% url 'edit_profile' user.pk %}" class="btn btn-outline-primary btn-sm">Edit</a>
          </div>
        </div>
        <hr>
        <span><i class="fa fa-map-marker text-secondary"></i></span><span> My Address :</span>
        <div>
          {{ user.address }} 
        </div>
        <div class="card-group py-2">
          <div class="card bg-light">
            <div class="card-body">
              <h3>{{ order.count }}</h3>
              <p class="font-weight-bold">
                {% if order.count > 1 %}
                Orders
                {% else %}
                Order
                {% endif %}
              </p>
            </div>
          </div>
          <div class="card bg-light">
            <div class="card-body">
              <h3>{{ total }}</h3>
              <p class="font-weight-bold">
                Total orders item in cart
              </p>
            </div>
          </div>
          <div class="card bg-light">
            <div class="card-body">
              <h3>20</h3>
              <p class="font-weight-bold">
                Delivery items
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h2>Recent orders</h2>
      <div class="row py-3">
        {% for item in order %}
        <div class="col-sm-4"> 
          <div class="row">
            <div class="col-sm-3">
              <img src="{{ item.product.image.url }}" alt="baju" class="border" height="100">
            </div>
            <div class="col-sm-9 px-4">
              <i class="fa fa-calendar text-secondary"></i>
              <span class="text-muted">{{ item.created_date|date:"d.m.Y" }}</span>
              <div> {{ item.product.title }}</div>
              <div>${{ item.product.price }}</div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <a href="{% url 'order' %}" class="btn btn-outline-primary font-weight-bold">See All Orders</a>
    </div>
  </div>
</section>
{% endblock content %}
