{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="container py-5">
       <div class="card">
           <div class="card-body">
            <div class="row">
                <div class="col">
                    <img src="{{ object.image.url }}" alt="baju">
                </div>
                <div class="col">
                    <h3>{{ object.title }}</h3>
                    <div class="row">
                        <div class="col">
                            {% with ''|center:5 as range %}
                            {% for _ in range %}
                                <span><i class="fa fa-star 
                                {% if forloop.counter <= object.rating %}
                                    text-warning
                                {% else %}
                                    text-secondary
                                {% endif %}"></i></span>
                            {% endfor %}    
                            {% endwith %}
                        </div>
                        <div class="col">
                            <span class="text-muted">{{ object.reviews }} reviews</span>
                        </div>
                        <div class="col">
                            <span class="text-success"><i class="fas fa-check-square"></i> 145 orders</span>
                        </div>
                    </div>
                    <h5>${{ object.price }}<span class="text-muted"> /per piece</span></h5>
                    <p class="text-secondary">
                        {{ object.description }}
                    </p>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Category</td>
                                <td class="font-weight-bold">
                                    {{ object.category }}
                                </td>
                            </tr>
                            <tr>
                                <td>Date Release</td>
                                <td class="font-weight-bold">
                                    {{ object.date_release }}
                                </td>
                            </tr>
                            <tr>
                                <td>Stock</td>
                                <td class="font-weight-bold">
                                    {{ object.stock }}
                                </td>
                            </tr>
                            <tr>
                                <td>Rating</td>
                                <td>
                                    <form method="POST" action="{% url 'add_to_cart' object.pk %}">
                                        {% csrf_token %}
                                    <div class="star-rating">
                                        {% with ''|center:5 as range %}
                                        {% for _ in range %}
                                            <input id="star-{{ forloop.revcounter }}" type="radio" name="rating" value="{{ forloop.revcounter }}">
                                            <label for="star-{{ forloop.revcounter }}" title="5 stars">
                                              <i class="active fa fa-star" aria-hidden="true"></i>
                                            </label>
                                        {% endfor %}
                                        {% endwith %}
                                    </div>
                                    <br>
                                    <small>
                                        Please rate this product.
                                    </small>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row py-3 card-footer">
                        <div class="col">
                            <button class="btn btn-success btn-sm container"><i class="fa fa-credit-card"></i> Buy Now</button>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-outline-success btn-sm container"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
           </div>
       </div>
    </section>
{% endblock content %}
