{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section>
        <div class="border-bottom border-top border-success">
        <nav class="nav container navbar-expand-lg">
            <button class="navbar-toggler navbar-light bg-light" type="button" data-toggle="collapse" data-target="#navbar2" aria-controls="navbar2" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar2">
            <li class="dropdown">
                <a class="nav-link text-dark dropdown-toggle" href="#" id="dropdown1" data-toggle="dropdown"><i class="fa fa-list"></i> All Categories</a>
            <div class="dropdown-menu" aria-labelledby="dropdown1">
                {% for item in category %}
                <a href="{% url 'search' %}?q={{ item.category }}" class="dropdown-item">{{ item.category }}</a>
                {% endfor %}
            </div>
            </li>
            {% for item in category %}
            <a class="nav-link text-dark" href="{% url 'search' %}?q={{ item.category }}">{{ item.category }}</a>
            {% endfor %}
            </div>
        </nav>
        </div>
        <div class="container py-3">
        <div class="bg-success text-center text-light" style="height: 300px;">
            <span class="display-3" style="padding-top: 10rem;">Banner</span>
            <p class="display-4">500x500</p>
        </div>
        <div class="row card-body py-5">
            <div class="col-sm-4">
                <i class="fa fa-truck fa-3x text-success"></i>
                <h4>Fast Delivery</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id error corrupti similique ullam molestias odio libero
                </p>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-landmark fa-3x text-success"></i>
                <h4>Creative Strategy</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id error corrupti similique ullam molestias odio libero
                </p>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-lock fa-3x text-success"></i>
                <h4>High Secure</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id error corrupti similique ullam molestias odio libero
                </p>
            </div>
        </div>
        <h2 class="py-3">Populer Products</h2>
        <div class="row">
            {% for product in popular %}
            <div class="col-sm-3">
                <div class="card border-success shad">
                    <a href="{% url 'detail' product.pk %}"><img src="{{ product.image.url }}" class="card-img-top" alt="..."></a>
                    <div class="card-body text-center">
                      <p>{{ product.title }}</p>
                    {% with ''|center:5 as range %}
                    {% for _ in range %}
                        <span><i class="fa fa-star 
                        {% if forloop.counter <= product.rating %}
                            text-warning
                        {% else %}
                            text-secondary
                        {% endif %}"></i></span>
                    {% endfor %}    
                    {% endwith %}
                        <span class="text-muted">{{ product.reviews }} reviews</span>
                    <span class="font-weight-bold">${{ product.price }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
       <div class="row py-3">
           <div class="col-sm-9">
               <h2>Latest Products</h2>
           </div>
           <div class="col-sm-3 text-right">
               <a href="{% url 'product' %}" class="btn btn-outline-success">See All</a>
           </div>
       </div>
        <div class="row py-3">
        {% for product in latest %}
            <div class="col-sm-3">
                <div class="card border-success shad">
                    <a href="{% url 'detail' product.pk %}"><img src="{{ product.image.url }}" class="card-img-top" alt="..."></a>
                    <div class="card-body text-center">
                      <p>{{ product.title }}</p>
                    {% with ''|center:5 as range %}
                    {% for _ in range %}
                        <span><i class="fa fa-star 
                        {% if forloop.counter <= product.rating %}
                            text-warning
                        {% else %}
                            text-secondary
                        {% endif %}"></i></span>
                    {% endfor %}    
                    {% endwith %}
                        <span class="text-muted">{{ product.reviews }} reviews</span>
                    <span class="font-weight-bold">${{ product.price }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    </section>
{% endblock content %}