{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="container py-5">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <i class="far fa-check-circle fa-5x text-success"></i>
                    <div>
                        <h2 class="display-4 font-weight-bold">Payment Success!</h2>
                    </div>
                    <div class="font-weight-bold">
                        Thank you to take our services.
                    </div>
                    <div>
                        <span><a href="{% url 'home' %}">Home</a></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}