{% extends 'base.html' %} 

{% block content %}
<section class="container py-5">
  {% if query == ""%}
  <h3>Result for "ALL"</h3>
  {% else %}
  <h3>Result for "{{ query }}"</h3>
  {% endif %}
  <hr>
  {% if search.exists == False %}
    <div class="alert alert-danger container">No Result Found.</div>
  {% endif %} 
    <div class="row py-3">
      {% for product in search %}
      <div class="col-sm-3">
        <div class="card shad">
          <a href="{% url 'detail' product.pk %}"><img src="{{ product.image.url }}" class="card-img-top" alt="..."></a>
          <div class="card-body text-center">
            <p>{{ product.title }}</p>
            {% with ''|center:5 as range %}
            {% for _ in range %}
              <span><i class="fa fa-star 
              {% if forloop.counter <= product.rating %}
                text-warning
              {% else %}
                text-secondary
              {% endif %}"></i></span>
            {% endfor %}    
            {% endwith %}
              <span class="text-muted">{{ product.reviews }} reviews</span>
              <span class="font-weight-bold">${{ product.price }}</span>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
</section>
{% endblock content %}
