{% extends 'dashboard/base.html' %}

{% block content %}
    <section class="content py-5"> 
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h2>Delete Product</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <p>Are you sure you want to delete "{{ object }}"?</p>
                        <button type="submit" class="btn btn-danger">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}