{% extends 'dashboard/base.html' %}

{% block content %}
    <section class="content">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Members</h1>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <div class="container-fluid">
            <div class="card">
                <div class="card-header border-0">
                  <h3 class="card-title">Members</h3>
                  <div class="card-tools">
                    <a href="#" class="btn btn-tool btn-sm" data-toggle="tooltip" data-placement="bottom" title="More">
                      <i class="fas fa-bars"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body table-responsive p-0">
                  <table class="table table-striped table-valign-middle">
                    <thead>
                    <tr>
                      <th>Username</th>
                      <th>Email</th>
                      <th>Fullname</th>
                      <th>Date Joined</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for item in member %}
                        {% if not item.is_superuser %} 
                    <tr>
                      <td>
                        <img src="{{ item.photo.url }}" alt="Product 1" class="img-circle img-size-32 mr-2">
                        {{ item.username }}
                      </td>
                      <td>{{ item.email }}</td>
                      <td>
                        {{ item.first_name }} {{ item.last_name }}
                      </td>
                      <td>
                          {{ item.date_joined }}
                      </td>
                    </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- /.card -->
        </div>
    </section>
{% endblock %}